
.registerbody{

    background-color: rgb(68, 68, 68);
    min-height: 50vw;
    height: 100%;
    width: 100%;
    display: flex;  
    color:whitesmoke;
    font-size:25px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: monospace, serif;
    letter-spacing: 0.05em;

}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    padding: 10px;
    border: 5px solid whitesmoke;
  
}
.mfieldset{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 5px solid whitesmoke;
    padding: 0px;
    margin:25px;
}
.mfieldset input{
    min-height: 28px;
    min-width: 50px;
}
legend{
    width:200px;
    border: 5px solid whitesmoke;
}