.mbody {
  background-color: rgb(58, 58, 58);
  color: #fff;
  min-height: 50vw;
  height: 100%;
  width: 100%;
  display: flex;  
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
}


@media(max-width:1110px){
  .mbody{
    width: 100%;
    min-height: 663px;
    height: 100%;
  }
}

legend{
  margin: 0px;
  padding: 15px;
  font-size: 35px;
  position: relative;
  align-self: center;
  align-content: center;
  justify-self: center;
  text-align: center;
}

label {
  min-height: 0px;
  font-size: 23px;
}

.mform {
  min-height: 0px;
  width: 300px;
  padding: 25px 0px 25px 25px ;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-items: center;
  border: #fff 5px solid;
  }
.mcontrol{
  min-height: 0px;
  margin: 0 0 24px;
}
.mform input {
  min-height: 0px;
  min-width: 230px;
  padding: 14px 16px;
  border: 0;
  background-color: whitesmoke;
  color: black;
  font-family: monospace,serif;
  letter-spacing: 0.05em;
  font-size: 16px;
  }
.mform input:focus{
  min-height: 0px;
  background-color: cornflowerblue;
  color:black;
}
.conteinerbottoes{
  min-height: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  width: 100%;
  margin-top: 10px;
  padding-right: 40px;

}
.mbutton {
    width: 100%;
    height: 50px;
    margin-top:15px;
    outline: none;
    border: 0;
    color: black;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
  }
button:hover{
  background-color: cadetblue;
  color: black;
}
.link{
    min-height: 0px;
    width: 100%;
    height: 50px;
    margin-top:15px;
    outline: none;
    border: 0;
    color: black;
    background-color: whitesmoke;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
    padding-top: 13px;
    text-align:center;
}
.link:hover{
  text-decoration: none;
  background-color:slategrey;
  color: black;
}
