.home{
    background-color: dimgrey;
    display: flex;
    height: 50vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.home h1{
    color: white;
    font-size: 55px;
}
.home h2{
    color: aquamarine;
}
@media (max-width:900px) {
    .home{
        height: 100vh;
        align-items: center;
        text-align: center;
    }
    .home h2{
        font-size: 18px;
    }
}
